nav.navbar.navbar-default
  .navbar-header
    a.navbar-brand(href='#') Express
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href='/') 电影
      li
        a(href='/cook') 菜谱
    ul.nav.navbar-nav.navbar-right
      li
        a(href='#') 更多
