link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css')
style.
	h5{word-break:break-all;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;}
	#img400{height:300px;}
